Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pyright, plugin-javascript-tests, precommit-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Run ruff check --fix
        entry: uv run --with ruff ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright
        name: Run pyright --level error
        entry: uvx pyright --level error src/
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: run-codescene
        name: Run CodeScene
        entry: codescene-precommit.sh
        language: script
        pass_filenames: false
      - id: plugin-javascript-tests
        name: Run plugin JavaScript tests
        entry: ./test-scripts/test-plugin-javascript.sh
        language: script
        pass_filenames: false
        files: ^hooks/.*\.js$
      - id: precommit-check
        name: Run precommit.sh checks
        entry: ./test-scripts/test-precommit.sh
        language: script
        pass_filenames: false
        files: ^(src/|test-scripts/|tests/)

Make release job depend on all CI jobs
  .github/workflows/ci.yml
Due: none

Fix unbound variable error in trigger-minor-release.sh when no args
  scripts/trigger-minor-release.sh
Due: none

Move release creation into CI workflow via workflow_dispatch
  .github/workflows/ci.yml
  .github/workflows/make-minor-release.yml
  scripts/calculate-minor-release.sh
  scripts/make-minor-release.sh
  scripts/trigger-minor-release.sh
Due: none

Update debugging-ci-failures and test-output-to-logfile skills
  claude-code-plugins/idea-to-code/skills/debugging-ci-failures/SKILL.md
  claude-code-plugins/idea-to-code/skills/test-output-to-logfile/SKILL.md
Due: none

Add Phase 0 (watch a running build) to debugging-ci-failures skill
  claude-code-plugins/idea-to-code/skills/debugging-ci-failures/SKILL.md
Due: none

Add idea docs for config-files-inside-uv-app
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-discussion.md
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-idea.md
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-implement-config.yaml
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-metadata.yaml
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-plan.md
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-spec.md
Due: none

Add default_config_dir() to discover bundled config files
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-plan.md
  src/i2code/config_files/CLAUDE.md
  src/i2code/config_files/__init__.py
  src/i2code/config_files/settings.local.json
  tests/config_files/__init__.py
  tests/config_files/test_default_config_dir.py
Due: ruff-check, pyright, precommit-check

Fix UnboundLocalError in isolate mode integration test fixture
  tests/implement/test_isolate_mode_integration.py
Due: ruff-check, pyright, precommit-check

Wait for GitHub repo accessibility after creation in integration tests
  tests/implement/conftest.py
Due: ruff-check, pyright, precommit-check

Make --config-dir optional in setup claude-files, default to bundled config
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-plan.md
  src/i2code/setup_cmd/cli.py
  tests/setup-cmd/test_setup_cli.py
Due: ruff-check, pyright, precommit-check

Make --config-dir and project_dir optional in setup update-project, default to bundled config and .
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-plan.md
  src/i2code/setup_cmd/cli.py
  tests/setup-cmd/test_setup_cli.py
Due: ruff-check, pyright, precommit-check

Fix flaky resolved-thread test by polling for GitHub API consistency
  tests/implement/test_pr_feedback_filtering_integration.py
Due: ruff-check, pyright, precommit-check

Make --config-dir optional in improve update-claude-files, default to bundled config
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-plan.md
  src/i2code/improve/cli.py
  tests/improve/test_improve_cli.py
Due: ruff-check, pyright, precommit-check

Remove CLAUDE.md and settings.local.json from config-files/, retaining only git-hooks/
  config-files/CLAUDE.md
  config-files/settings.local.json
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-plan.md
Due: none

Add wheel contents test to verify config files are packaged
  docs/ideas/active/config-files-inside-uv-app/config-files-inside-uv-app-plan.md
  test-scripts/test-end-to-end.sh
  test-scripts/test-wheel-contents.sh
Due: precommit-check

Consolidate Claude Code permissions into i2code.claude package
  src/i2code/claude/__init__.py
  src/i2code/claude/permissions.py
  src/i2code/claude_cmd.py
  src/i2code/go_cmd/create_plan.py
  src/i2code/go_cmd/revise_plan.py
  src/i2code/idea_cmd/brainstorm.py
  src/i2code/implement/trunk_mode.py
  src/i2code/implement/worktree_mode.py
  src/i2code/implement/worktree_setup.py
  src/i2code/spec_cmd/create_spec.py
  src/i2code/spec_cmd/revise_spec.py
  tests/claude/test_allowed_tools.py
  tests/claude/test_permissions.py
  tests/go-cmd/test_create_plan.py
  tests/go-cmd/test_revise_plan.py
  tests/idea-cmd/test_brainstorm.py
  tests/implement/test_worktree_mode.py
  tests/spec-cmd/test_create_spec.py
  tests/spec-cmd/test_revise_spec.py
  tests/test_claude_cmd.py
Due: ruff-check, pyright, precommit-check

Add hook rule to block gradlew output piped to tail
  claude-code-plugins/idea-to-code/hooks/enforce-bash-conventions.js
  claude-code-plugins/idea-to-code/hooks/enforce-bash-conventions.test.js
Due: none

Update plugin skills: gradle uses build not check, clarify design pattern catalog
  claude-code-plugins/idea-to-code/skills/apply-design-patterns/SKILL.md
  claude-code-plugins/idea-to-code/skills/test-output-to-logfile/SKILL.md
  claude-code-plugins/idea-to-code/skills/test-runner-java-gradle/SKILL.md
Due: none

Add github-actions-gradle-cache skill to plugin
  claude-code-plugins/idea-to-code/.claude-plugin/plugin.json
  claude-code-plugins/idea-to-code/skills/github-actions-gradle-cache/SKILL.md
Due: none

Add idea docs for plan-file-support-task-file
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-discussion.md
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-idea.md
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-implement-config.yaml
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-metadata.yaml
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-spec.md
Due: none

Mark Task 1.1 complete: baseline test suite passes
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
Due: none

Add --tasks-file support to insert-thread-after (Task 2.1)
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
  src/i2code/plan/thread_cli.py
  tests/plan-manager/test_insert_thread_cli.py
Due: ruff-check, pyright, precommit-check

Add --tasks-file tests for insert-thread-before (Task 3.1)
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
  tests/plan-manager/test_insert_thread_cli.py
Due: ruff-check, pyright, precommit-check

Refactor replace-thread to use _thread_spec_options (Task 4.1)
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
  src/i2code/plan/thread_cli.py
Due: ruff-check, pyright, precommit-check

Add --task-file support to insert-task-after (Task 5.1)
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
  src/i2code/plan/task_cli.py
  tests/plan-manager/test_insert_task_after_cli.py
Due: ruff-check, pyright, precommit-check

Add --task-file support to insert-task-before (Task 6.1)
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
  src/i2code/plan/task_cli.py
  tests/plan-manager/test_insert_task_before_cli.py
Due: ruff-check, pyright, precommit-check

Add --task-file support to replace-task (Task 7.1)
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
  src/i2code/plan/task_cli.py
  tests/plan-manager/test_replace_task_cli.py
Due: ruff-check, pyright, precommit-check

Complete Task 8.1: end-to-end suite passes; no README changes needed
  docs/ideas/active/plan-file-support-task-file/plan-file-support-task-file-plan.md
Due: none

Add idea docs for checking-completed-tasks
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-discussion.md
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-idea.md
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-implement-config.yaml
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-metadata.yaml
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-spec.md
Due: none

Restrict plan generation Claude tools to read-only
  src/i2code/claude/permissions.py
  src/i2code/go_cmd/create_plan.py
  src/i2code/prompt-templates/create-implementation-plan.md
  tests/claude/test_allowed_tools.py
  tests/go-cmd/test_create_plan.py
Due: ruff-check, pyright, precommit-check
