Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pyright, plugin-javascript-tests, precommit-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Run ruff check --fix
        entry: uv run --with ruff ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright
        name: Run pyright --level error
        entry: uvx pyright --level error src/
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: run-codescene
        name: Run CodeScene
        entry: codescene-precommit.sh
        language: script
        pass_filenames: false
      - id: plugin-javascript-tests
        name: Run plugin JavaScript tests
        entry: ./test-scripts/test-plugin-javascript.sh
        language: script
        pass_filenames: false
        files: ^hooks/.*\.js$
      - id: precommit-check
        name: Run precommit.sh checks
        entry: ./test-scripts/test-precommit.sh
        language: script
        pass_filenames: false
        files: ^(src/|test-scripts/|tests/)

Add test validating user follow-ups are processed alongside i2code replies
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Add get_resolved_review_comment_ids to GitHubClient via GraphQL
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/github_client.py
  tests/implement/fake_github_client.py
  tests/implement/test_github_client.py
Due: ruff-check, pyright, precommit-check

Filter out resolved review thread comments during feedback processing
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Add test validating mixed resolved/unresolved thread filtering (Scenario 6)
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Add repo_root to orchestrator default step functions
  src/i2code/go_cmd/orchestrator.py
  tests/go-cmd/test_orchestrator_defaults_repo_root.py
Due: ruff-check, pyright, precommit-check

Add integration test script for PR feedback filtering (Task 3.1)
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  test-scripts/test-pr-feedback-filtering.sh
Due: precommit-check

Add integration test for marker-bearing reply filtering (Task 3.2)
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  test-scripts/test-pr-feedback-filtering.sh
Due: precommit-check

Add integration test for resolved thread filtering (Task 3.3)
  .gitignore
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  test-scripts/test-pr-feedback-filtering.sh
Due: precommit-check

Refactor Task 3.3 test to call production filtering method instead of reimplementing it
  src/i2code/implement/pull_request_review_processor.py
  test-scripts/test-pr-feedback-filtering.sh
Due: ruff-check, pyright, precommit-check

Replace bash test script with pytest integration test and add design pattern
  design-pattern-catalog/index.md
  design-pattern-catalog/testing/test-scripts-as-simple-wrappers.md
  test-scripts/test-pr-feedback-filtering.sh
  tests/implement/test_pr_feedback_filtering_integration.py
Due: ruff-check, pyright, precommit-check

Add progress messages to review poll loop
  src/i2code/implement/worktree_mode.py
Due: ruff-check, pyright, precommit-check

Add idea docs for i2code-go-implement-options
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-implement-config.yaml
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-wt-state.json
Due: none

Fix CI failure: pass --head to gh pr create for detached HEAD environments
  tests/implement/test_pr_feedback_filtering_integration.py
Due: ruff-check, pyright, precommit-check

Add idea docs for i2code-plan-missing-blank-lines
  docs/ideas/draft/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-discussion.md
  docs/ideas/draft/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-idea.md
  docs/ideas/draft/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-plan.md
  docs/ideas/draft/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-spec.md
Due: none

Include idea name in go command menu prompts
  src/i2code/go_cmd/orchestrator.py
Due: ruff-check, pyright, precommit-check

Add human-reply assertion to test_marker_bearing_replies_are_filtered
  tests/implement/test_pr_feedback_filtering_integration.py
Due: ruff-check, pyright, precommit-check

Strip trailing blank lines from task _lines during parsing
  docs/ideas/draft/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-plan.md
  src/i2code/plan_domain/parser.py
  tests/plan-domain/test_parse_write_round_trip.py
  tests/plan-domain/test_parser_strips_trailing_blanks.py
  tests/plan-manager/test_with_plan_file_update.py
Due: ruff-check, pyright, precommit-check

Emit blank line between tasks in Thread.to_lines()
  docs/ideas/draft/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-plan.md
  src/i2code/plan_domain/thread.py
  tests/plan-domain/test_thread_to_lines_blank_lines.py
Due: ruff-check, pyright, precommit-check

Fix round-trip tests: strip thread separators in parser, emit in serializer
  docs/ideas/draft/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-plan.md
  src/i2code/plan_domain/parser.py
  src/i2code/plan_domain/plan.py
  tests/plan-domain/test_parse_write_round_trip.py
Due: ruff-check, pyright, precommit-check

Add idea docs for i2code-go-implement-options
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-discussion.md
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-idea.md
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-plan.md
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-spec.md
Due: none

Prepend <!-- i2code --> marker to _push_and_reply comment bodies
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Restructure CI debugging skill into evidence-first two-phase workflow
  skills/debugging-ci-failures/SKILL.md
Due: none

Add end-to-end test script for i2code implement
  test-scripts/test-i2code-implement.sh
Due: precommit-check

Filter out self-generated i2code comments during feedback processing
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Prepend <!-- i2code --> marker to _reply_with_clarifications comment bodies
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Rename wait_for_ci to wait_for_workflow_completion and monitor CI after pushing unpushed commits
  src/i2code/implement/github_actions_monitor.py
  src/i2code/implement/worktree_mode.py
  tests/implement/test_github_actions_monitor.py
Due: ruff-check, pyright, precommit-check

Deny git push permission for Claude invoked by i2code implement
  src/i2code/implement/claude_permissions.py
  src/i2code/implement/templates/task_execution.j2
Due: ruff-check, pyright, precommit-check

Add PreToolUse recording to session-recorder and ensure handler-registration consistency
  .claude-plugin/plugin.json
  hooks/session-recorder.js
  hooks/session-recorder.test.js
Due: plugin-javascript-tests

Add idea docs for pr-feedback-replying-to-self
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-discussion.md
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-idea.md
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-spec.md
Due: none
