Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pyright, plugin-javascript-tests, precommit-check

ruff-check:
  name: Run ruff check --fix
  entry: uv run --with ruff ruff check --fix
  language: system
  pass_filenames: false

pyright:
  name: Run pyright --level error
  entry: uvx pyright --level error src/
  language: system
  pass_filenames: false

plugin-javascript-tests:
  name: Run plugin JavaScript tests
  entry: ./test-scripts/test-plugin-javascript.sh
  language: script
  pass_filenames: false

precommit-check:
  name: Run precommit.sh checks
  entry: ./test-scripts/test-precommit.sh
  language: script
  pass_filenames: false

Move run_task into ClaudeServices and assert task doesn't modify CI workflows
  CLAUDE.md
  src/i2code/implement/claude_runner.py
  src/i2code/implement/claude_services.py
  src/i2code/implement/mode_factory.py
  src/i2code/implement/trunk_mode.py
  src/i2code/implement/worktree_mode.py
  tests/implement/fake_claude_runner.py
  tests/implement/test_scaffolding_task_conflict.py
  tests/implement/test_task_then_review_loop.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, pyright, precommit-check

Add idea docs for i2code-go-should-grant-permissions
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-discussion.md
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-idea.md
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-spec.md
Due: none

Add idea docs for maintain-idea-state-in-metadata-file
  docs/ideas/draft/maintain-idea-state-in-metadata-file/maintain-idea-state-in-metadata-file-discussion.md
  docs/ideas/draft/maintain-idea-state-in-metadata-file/maintain-idea-state-in-metadata-file-idea.md
  docs/ideas/draft/maintain-idea-state-in-metadata-file/maintain-idea-state-in-metadata-file-plan.md
  docs/ideas/draft/maintain-idea-state-in-metadata-file/maintain-idea-state-in-metadata-file-spec.md
Due: none

Add --allowedTools and repo_root cwd to brainstorm_idea
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  src/i2code/idea_cmd/brainstorm.py
  tests/idea-cmd/test_brainstorm.py
Due: ruff-check, pyright, precommit-check

Extract build_allowed_tools_flag helper into shared claude_cmd module
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  src/i2code/claude_cmd.py
  src/i2code/idea_cmd/brainstorm.py
  tests/test_claude_cmd.py
Due: ruff-check, pyright, precommit-check

Add --allowedTools and repo_root cwd to create_spec
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  src/i2code/spec_cmd/create_spec.py
  tests/spec-cmd/test_create_spec.py
Due: ruff-check, pyright, precommit-check

Add --allowedTools and repo_root cwd to revise_spec
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  src/i2code/spec_cmd/revise_spec.py
  tests/spec-cmd/test_revise_spec.py
Due: ruff-check, pyright, precommit-check

Add --allowedTools and repo_root cwd to create_plan
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  src/i2code/go_cmd/create_plan.py
  tests/go-cmd/test_create_plan.py
Due: ruff-check, pyright, precommit-check

Add --allowedTools and repo_root cwd to revise_plan
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  src/i2code/go_cmd/revise_plan.py
  tests/go-cmd/test_revise_plan.py
Due: ruff-check, pyright, precommit-check

Add standalone_no_allowed_tools tests for all subcommands
  docs/ideas/draft/i2code-go-should-grant-permissions/i2code-go-should-grant-permissions-plan.md
  tests/go-cmd/test_create_plan.py
  tests/go-cmd/test_revise_plan.py
  tests/idea-cmd/test_brainstorm.py
  tests/spec-cmd/test_create_spec.py
  tests/spec-cmd/test_revise_spec.py
Due: ruff-check, pyright, precommit-check

Show task progress in worktree mode execution messages
  src/i2code/implement/idea_project.py
  src/i2code/implement/worktree_mode.py
  src/i2code/plan_domain/plan.py
  tests/implement/test_worktree_mode.py
  tests/plan-domain/test_plan_task_progress.py
Due: ruff-check, pyright, precommit-check

Improve idea state CLI: validate state names, support path args, handle untracked files
  src/i2code/idea_cmd/state_cmd.py
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, pyright, precommit-check

Add --shell option to drop into an isolarium shell
  src/i2code/implement/cli.py
  src/i2code/implement/implement_command.py
  src/i2code/implement/implement_opts.py
  src/i2code/implement/isolate_mode.py
  tests/implement/test_isolate_mode.py
Due: ruff-check, pyright, precommit-check

Add debug logging to scaffolding steps and improve cwd formatting
  src/i2code/implement/claude_runner.py
  src/i2code/implement/project_scaffolding.py
Due: ruff-check, pyright, precommit-check

Update specs and docs: front-matter for outcome tags, spec guidelines, Compose Method pattern
  .claude-plugin/plugin.json
  design-pattern-catalog/index.md
  design-pattern-catalog/refactoring/compose-method.md
  docs/ideas/draft/enhance-non-interactive-claude/enhance-non-interactive-claude-spec.md
  src/i2code/prompt-templates/create-spec.md
Due: precommit-check

Add idea docs for implement-loads-env-local
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-discussion.md
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-idea.md
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-plan.md
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-spec.md
Due: none

Load .env.local in ImplementCommand.execute() using python-dotenv
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-plan.md
  pyproject.toml
  src/i2code/implement/implement_command.py
  tests/implement/test_load_env_local.py
  uv.lock
Due: ruff-check, pyright, precommit-check

Test that missing .env.local does not cause errors
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-plan.md
  tests/implement/test_load_env_local.py
Due: ruff-check, pyright, precommit-check

Test that shell env vars take precedence over .env.local values
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-plan.md
  tests/implement/test_load_env_local.py
Due: ruff-check, pyright, precommit-check

Verify IsolateMode._find_env_file() behavior is unaffected by load_dotenv
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-plan.md
Due: none

Add idea docs for implement-loads-env-local
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-plan.md
Due: none

Skip load_dotenv(.env.local) when running in isolate mode
  docs/ideas/draft/implement-loads-env-local/implement-loads-env-local-plan.md
  src/i2code/implement/implement_command.py
  tests/implement/test_load_env_local.py
Due: ruff-check, pyright, precommit-check

Rename wait_for_ci to wait_for_workflow_completion and monitor CI after pushing unpushed commits
  src/i2code/implement/github_actions_monitor.py
  src/i2code/implement/worktree_mode.py
  tests/implement/test_github_actions_monitor.py
Due: ruff-check, pyright, precommit-check

Deny git push permission for Claude invoked by i2code implement
  src/i2code/implement/claude_permissions.py
  src/i2code/implement/templates/task_execution.j2
Due: ruff-check, pyright, precommit-check

Add PreToolUse recording to session-recorder and ensure handler-registration consistency
  .claude-plugin/plugin.json
  hooks/session-recorder.js
  hooks/session-recorder.test.js
Due: plugin-javascript-tests

Add end-to-end test script for i2code implement
  test-scripts/test-i2code-implement.sh
Due: precommit-check

Restructure CI debugging skill into evidence-first two-phase workflow
  skills/debugging-ci-failures/SKILL.md
Due: none

Add idea docs for i2code-go-implement-options
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-discussion.md
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-idea.md
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-plan.md
  docs/ideas/draft/i2code-go-implement-options/i2code-go-implement-options-spec.md
Due: none

Add idea docs for pr-feedback-replying-to-self
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-discussion.md
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-idea.md
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-spec.md
Due: none

Add idea docs for brainstorm-ask-user-question-tool
  docs/ideas/drafts/brainstorm-ask-user-question-tool/brainstorm-ask-user-question-tool-discussion.md
  docs/ideas/drafts/brainstorm-ask-user-question-tool/brainstorm-ask-user-question-tool-idea.md
  docs/ideas/drafts/brainstorm-ask-user-question-tool/brainstorm-ask-user-question-tool-plan.md
  docs/ideas/drafts/brainstorm-ask-user-question-tool/brainstorm-ask-user-question-tool-spec.md
Due: none

Replace text-based multi-choice with AskUserQuestion in brainstorm prompt
  docs/ideas/drafts/brainstorm-ask-user-question-tool/brainstorm-ask-user-question-tool-plan.md
  src/i2code/prompt-templates/brainstorm-idea.md
Due: precommit-check

Prepend <!-- i2code --> marker to _push_and_reply comment bodies
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Prepend <!-- i2code --> marker to _reply_with_clarifications comment bodies
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Filter out self-generated i2code comments during feedback processing
  docs/ideas/draft/pr-feedback-replying-to-self/pr-feedback-replying-to-self-plan.md
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Path conditions:
  ruff-check: any of: \.py$
  pyright: any of: \.py$
  plugin-javascript-tests: any of: ^hooks/.*\.js$
  precommit-check: any of: ^(src/|test-scripts/|tests/)
