Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pyright, plugin-javascript-tests, precommit-check

ruff-check:
  name: Run ruff check --fix
  entry: uv run --with ruff ruff check --fix
  language: system
  pass_filenames: false

pyright:
  name: Run pyright --level error
  entry: uvx pyright --level error src/
  language: system
  pass_filenames: false

plugin-javascript-tests:
  name: Run plugin JavaScript tests
  entry: ./test-scripts/test-plugin-javascript.sh
  language: script
  pass_filenames: false

precommit-check:
  name: Run precommit.sh checks
  entry: ./test-scripts/test-precommit.sh
  language: script
  pass_filenames: false

Save broken plan to disk when repair fails
  src/i2code/go_cmd/create_plan.py
  src/i2code/implement/idea_project.py
  tests/go-cmd/test_create_plan.py
Due: ruff-check, pyright, precommit-check

Strengthen plan template guidance
  src/i2code/prompt-templates/create-implementation-plan.md
  src/i2code/prompt-templates/repair-plan.md
  src/i2code/prompt-templates/revise-plan.md
Due: precommit-check

Require brainstorm to append each Q&A to discussion file immediately
  src/i2code/prompt-templates/brainstorm-idea.md
Due: precommit-check

Fix worktree-mode plan completion check by reading worktree-sibling plan
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  src/i2code/go_cmd/orchestrator.py
  src/i2code/go_cmd/plan_completion.py
  tests/go-cmd/conftest.py
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

Add trunk-mode branch to plan completion resolver
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  src/i2code/go_cmd/plan_completion.py
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

Add worktree-mode incomplete-plan test, drop obsolete TestPlanCompletion
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

ST4 T4.1: Add nono isolation branch to plan completion resolver
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  src/i2code/go_cmd/plan_completion.py
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

ST5 T5.1: Add container isolation branch to plan completion resolver
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  src/i2code/go_cmd/plan_completion.py
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

ST6 T6.1: Add VM-mode plan completion via gh api fetch
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  src/i2code/go_cmd/orchestrator.py
  src/i2code/go_cmd/plan_completion.py
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

Add idea docs for split-update-project-per-file
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-discussion.md
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-idea.md
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-implement-config.yaml
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-metadata.yaml
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-spec.md
Due: none

ST7 T7.1: Print diagnostic on VM-mode gh failure; suppress banners
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  src/i2code/go_cmd/orchestrator.py
  src/i2code/go_cmd/plan_completion.py
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

ST8 T8.1: Add missing-config plan completion test as regression guard
  docs/ideas/active/checking-completed-tasks/checking-completed-tasks-plan.md
  tests/go-cmd/test_orchestrator_implement.py
Due: ruff-check, pyright, precommit-check

ST1 T1.1: Verify baseline update_project tests pass
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
Due: none

ST2 T2.1: update_project copies missing CLAUDE.md and writes SHA marker
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST2 T2.2: update_project copies missing settings.local.json and writes SHA marker
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST3 T3.1: update_project reads per-file SHA marker from CLAUDE.md and settings
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST3 T3.2: update_project skips Claude on empty per-file diff and advances marker
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST4 T4.1: update_project first-sync renders claude-md prompt and writes SHA after success
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/prompt-templates/update-project-claude-md.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST4 T4.2: update_project first-sync renders settings prompt and writes SHA after success
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/prompt-templates/update-project-settings.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST5 T5.1: update_project routine flow renders per-file diff and writes SHA after success
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST6 T6.1: update_project aborts after non-zero Claude exit, leaving both markers unchanged
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/setup_cmd/update_project.py
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST7 T7.1: delete legacy update-project-claude-files.md template and assert idempotence
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/prompt-templates/update-project-claude-files.md
  tests/setup-cmd/test_update_project.py
Due: ruff-check, pyright, precommit-check

ST8 T8.1: extract per-file processing — add template_relpath to _FileSpec
  docs/ideas/active/split-update-project-per-file/split-update-project-per-file-plan.md
  src/i2code/setup_cmd/update_project.py
Due: ruff-check, pyright, precommit-check

Add idea docs for claude-code-command-dataclass
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-broken-plan.md
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-discussion.md
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-idea.md
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-implement-config.yaml
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-metadata.yaml
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-plan.md
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-spec.md
Due: none

ST1 T1.1: confirm green baseline (pytest unit + pyright)
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-plan.md
Due: none

Document --task-file and --tasks-file in plan-file-management skill
  claude-code-plugins/idea-to-code/skills/plan-file-management/SKILL.md
Due: none

Split test_update_project.py into focused modules
  tests/setup-cmd/_update_project_helpers.py
  tests/setup-cmd/test_update_project.py
  tests/setup-cmd/test_update_project_first_sync.py
  tests/setup-cmd/test_update_project_idempotence.py
  tests/setup-cmd/test_update_project_missing_files.py
  tests/setup-cmd/test_update_project_routine.py
  tests/setup-cmd/test_update_project_sha_reading.py
  tests/setup-cmd/test_update_project_validation.py
Due: ruff-check, pyright, precommit-check

ST2 T2.1: add ClaudeCodeCommand and SessionId dataclasses
  src/i2code/implement/claude_runner.py
  tests/implement/test_claude_runner.py
Due: ruff-check, pyright, precommit-check

ST2 T2.1: mark task complete in plan
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-plan.md
Due: none

ST2 T2.2: populate ClaudeResult.result_text from stream-json
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-plan.md
  src/i2code/implement/claude_runner.py
  tests/implement/test_claude_runner.py
Due: ruff-check, pyright, precommit-check

ST2 T2.3: ClaudeRunner.execute() builds argv and dispatches to batch path
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-plan.md
  src/i2code/implement/claude_runner.py
  tests/implement/test_claude_runner.py
Due: ruff-check, pyright, precommit-check

ST2 T2.4: FakeClaudeRunner.execute(command) records calls
  docs/ideas/active/claude-code-command-dataclass/claude-code-command-dataclass-plan.md
  tests/implement/fake_claude_runner.py
  tests/implement/test_claude_runner.py
Due: ruff-check, pyright, precommit-check

Path conditions:
  ruff-check: any of: \.py$
  pyright: any of: \.py$
  plugin-javascript-tests: any of: ^hooks/.*\.js$
  precommit-check: any of: ^(src/|test-scripts/|tests/)
