Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pyright, plugin-javascript-tests, precommit-check

ruff-check:
  name: Run ruff check --fix
  entry: uv run --with ruff ruff check --fix
  language: system
  pass_filenames: false

pyright:
  name: Run pyright --level error
  entry: uvx pyright --level error src/
  language: system
  pass_filenames: false

plugin-javascript-tests:
  name: Run plugin JavaScript tests
  entry: ./test-scripts/test-plugin-javascript.sh
  language: script
  pass_filenames: false

precommit-check:
  name: Run precommit.sh checks
  entry: ./test-scripts/test-precommit.sh
  language: script
  pass_filenames: false

Add tests verifying task execution transitions to review poll loop
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  tests/implement/fake_loop_collaborators.py
  tests/implement/test_task_then_review_loop.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, pyright, precommit-check

Add review poll loop when all tasks complete and --address-review-comments is set
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/worktree_mode.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, pyright, precommit-check

Add CI failure detection to review poll loop before processing feedback
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/worktree_mode.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, pyright, precommit-check

Add --address-review-comments flag with --trunk incompatibility validation
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/cli.py
  src/i2code/implement/implement_opts.py
  tests/implement/test_implement_opts.py
Due: ruff-check, pyright, precommit-check

Fail with clear error when --address-review-comments is set but no PR exists
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/implement_command.py
  tests/implement/test_implement_command.py
Due: ruff-check, pyright, precommit-check

Move idea implement-address-review-loop from wip to completed
  docs/ideas/completed/implement-address-review-loop/implement-address-review-loop-discussion.md
  docs/ideas/completed/implement-address-review-loop/implement-address-review-loop-idea.md
  docs/ideas/completed/implement-address-review-loop/implement-address-review-loop-plan.md
  docs/ideas/completed/implement-address-review-loop/implement-address-review-loop-spec.md
Due: none

Move idea record-session from ready to completed
  docs/ideas/completed/record-session/record-session-discussion.md
  docs/ideas/completed/record-session/record-session-idea.txt
  docs/ideas/completed/record-session/record-session-plan.md
  docs/ideas/completed/record-session/record-session-spec.md
Due: none

Move idea i2code-completion from draft to wip
  docs/ideas/wip/i2code-completion/i2code-completion-discussion.md
  docs/ideas/wip/i2code-completion/i2code-completion-idea.md
  docs/ideas/wip/i2code-completion/i2code-completion-plan.md
  docs/ideas/wip/i2code-completion/i2code-completion-spec.md
Due: none

Add logging to setting up
  dev-scripts/setup-project.sh
Due: none

Add tests for invalid shell argument error handling
  docs/ideas/wip/i2code-completion/i2code-completion-plan.md
  tests/completion/test_completion_cli.py
Due: ruff-check, pyright, precommit-check

Show usage help when i2code completion is invoked with no arguments
  docs/ideas/wip/i2code-completion/i2code-completion-plan.md
  src/i2code/completion.py
  tests/completion/test_completion_cli.py
Due: ruff-check, pyright, precommit-check

Add i2code completion command for bash, zsh, and fish
  docs/ideas/wip/i2code-completion/i2code-completion-plan.md
  src/i2code/cli.py
  src/i2code/completion.py
  tests/completion/__init__.py
  tests/completion/test_completion_cli.py
Due: ruff-check, pyright, precommit-check

Extract run() helper to remove repeated CliRunner pattern in completion tests
  tests/completion/test_completion_cli.py
Due: ruff-check, pyright, precommit-check

Move idea i2code-completion from wip to completed
  docs/ideas/completed/i2code-completion/i2code-completion-discussion.md
  docs/ideas/completed/i2code-completion/i2code-completion-idea.md
  docs/ideas/completed/i2code-completion/i2code-completion-plan.md
  docs/ideas/completed/i2code-completion/i2code-completion-spec.md
Due: none

Add PermissionRequest hook to log permission dialogs in session recorder
  .claude-plugin/plugin.json
  hooks/session-recorder.js
  hooks/session-recorder.test.js
Due: plugin-javascript-tests

Block cd <dir> && git pattern in enforce-bash-conventions hook
  hooks/enforce-bash-conventions.js
  hooks/enforce-bash-conventions.test.js
Due: plugin-javascript-tests

Block git commit -m "$(cat <<EOF" pattern, recommend git commit -F- instead
  hooks/enforce-bash-conventions.js
  hooks/enforce-bash-conventions.test.js
Due: plugin-javascript-tests

Block all git commit heredoc forms, recommend plain git commit -m
  hooks/enforce-bash-conventions.js
  hooks/enforce-bash-conventions.test.js
Due: plugin-javascript-tests

Move idea enhance-non-interactive-claude from draft to wip
  docs/ideas/wip/enhance-non-interactive-claude/enhance-non-interactive-claude-discussion.md
  docs/ideas/wip/enhance-non-interactive-claude/enhance-non-interactive-claude-idea.md
Due: none

Add bash/sh prefix detection and align CD_AND_GIT_MESSAGE wording
  .claude-plugin/plugin.json
  hooks/enforce-bash-conventions.js
  hooks/enforce-bash-conventions.test.js
Due: plugin-javascript-tests

Sync config-files templates with project Claude files
  config-files/CLAUDE.md
  config-files/settings.local.json
  src/i2code/prompt-templates/update-claude-files-from-project.md
Due: precommit-check

Record blocked attempts in session file and fix heredoc rule priority
  hooks/enforce-bash-conventions.js
  hooks/enforce-bash-conventions.test.js
Due: plugin-javascript-tests

Move idea scaffolding-task-conflict-bug from draft to ready
  docs/ideas/ready/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-discussion.md
  docs/ideas/ready/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-idea.md
  docs/ideas/ready/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-plan.md
  docs/ideas/ready/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-spec.md
Due: none

Move idea scaffolding-task-conflict-bug from ready to wip
  docs/ideas/wip/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-discussion.md
  docs/ideas/wip/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-idea.md
  docs/ideas/wip/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-plan.md
  docs/ideas/wip/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-spec.md
Due: none

Add test setup for scaffolding-task CI file conflict reproduction
  docs/ideas/wip/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-plan.md
  tests/implement/fixtures/hello-world/hello-world-discussion.md
  tests/implement/fixtures/hello-world/hello-world-idea.txt
  tests/implement/fixtures/hello-world/hello-world-plan.md
  tests/implement/fixtures/hello-world/hello-world-spec.md
  tests/implement/test_scaffolding_task_conflict.py
Due: ruff-check, pyright, precommit-check

Add scaffolding phase to CI file conflict reproduction test
  docs/ideas/wip/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-plan.md
  tests/implement/test_scaffolding_task_conflict.py
Due: ruff-check, pyright, precommit-check

Add task execution phase to reproduce CI file conflict bug
  docs/ideas/wip/scaffolding-task-conflict-bug/scaffolding-task-conflict-bug-plan.md
  tests/implement/test_scaffolding_task_conflict.py
Due: ruff-check, pyright, precommit-check

Move idea enhance-non-interactive-claude from wip to draft
  docs/ideas/draft/enhance-non-interactive-claude/enhance-non-interactive-claude-discussion.md
  docs/ideas/draft/enhance-non-interactive-claude/enhance-non-interactive-claude-idea.md
  docs/ideas/draft/enhance-non-interactive-claude/enhance-non-interactive-claude-spec.md
Due: none

Fix test permissions and assertions for CI file conflict reproduction
  src/i2code/implement/claude_runner.py
  tests/implement/test_scaffolding_task_conflict.py
Due: ruff-check, pyright, precommit-check

Refactor test with compose method pattern and fix assertions
  tests/implement/test_scaffolding_task_conflict.py
Due: ruff-check, pyright, precommit-check

Extract run_task into ClaudeRunner to eliminate duplication
  src/i2code/implement/claude_runner.py
  src/i2code/implement/trunk_mode.py
  src/i2code/implement/worktree_mode.py
  tests/implement/fake_claude_runner.py
  tests/implement/test_scaffolding_task_conflict.py
Due: ruff-check, pyright, precommit-check

Simplify run_task to accept repo instead of cwd and head_sha_fn
  .gitignore
  src/i2code/implement/claude_runner.py
  src/i2code/implement/trunk_mode.py
  src/i2code/implement/worktree_mode.py
  tests/implement/fake_claude_runner.py
  tests/implement/test_scaffolding_task_conflict.py
Due: ruff-check, pyright, precommit-check

Inject CommandBuilder instead of creating inline
  src/i2code/implement/claude_services.py
  src/i2code/implement/command_assembler.py
  src/i2code/implement/command_builder.py
  src/i2code/implement/commit_recovery.py
  src/i2code/implement/github_actions_build_fixer.py
  src/i2code/implement/mode_factory.py
  src/i2code/implement/pull_request_review_processor.py
  src/i2code/implement/trunk_mode.py
  src/i2code/implement/worktree_mode.py
  tests/implement/test_commit_recovery.py
  tests/implement/test_github_actions_build_fixer.py
  tests/implement/test_pull_request_review_processor.py
  tests/implement/test_task_then_review_loop.py
  tests/implement/test_trunk_mode.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, pyright, precommit-check

Type DI bundle dataclass fields with concrete classes
  src/i2code/implement/claude_services.py
  src/i2code/implement/workspace.py
  src/i2code/implement/worktree_mode.py
Due: ruff-check, pyright, precommit-check

Add 5 missing skills to CLAUDE.md skill reference
  CLAUDE.md
  config-files/CLAUDE.md
Due: none

Path conditions:
  ruff-check: any of: \.py$
  pyright: any of: \.py$
  plugin-javascript-tests: any of: ^hooks/.*\.js$
  precommit-check: any of: ^(src/|test-scripts/|tests/)
