Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, precommit-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Run ruff check --fix
        entry: uvx ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: precommit-check
        name: Run precommit.sh checks
        entry: ./test-scripts/test-precommit.sh
        language: script
        pass_filenames: false
        files: ^(src/|test-scripts/|tests/)

Mark Task 5.6 complete: all improve and design commands wired to Python
  docs/features/write-i2code-go-scripts-as-python/write-i2code-go-scripts-as-python-plan.md
Due: none

Add ready state and lifecycle descriptions to idea states
  CODEBASE.md
  docs/ideas/ready/record-session/record-session-discussion.md
  docs/ideas/ready/record-session/record-session-idea.txt
  docs/ideas/ready/record-session/record-session-plan.md
  docs/ideas/ready/record-session/record-session-spec.md
Due: none

Add test-output-to-logfile skill
  skills/test-output-to-logfile/SKILL.md
Due: none

Fix create_plan returning None instead of ClaudeResult
  src/i2code/go_cmd/create_plan.py
Due: ruff-check, precommit-check

Add idea docs for i2code-idea-lifecycle
  docs/ideas/draft/i2code-idea-lifecycle/i2code-idea-lifecycle-discussion.md
  docs/ideas/draft/i2code-idea-lifecycle/i2code-idea-lifecycle-idea.md
  docs/ideas/draft/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  docs/ideas/draft/i2code-idea-lifecycle/i2code-idea-lifecycle-spec.md
Due: none

Moved i2code-idea-lifecycle to wip
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-discussion.md
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-idea.md
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-spec.md
Due: none

Fix all pyright errors and add pyright to pre-commit checks
  .pre-commit-config.yaml
  skills/commit-guidelines/SKILL.md
  src/i2code/go_cmd/orchestrator.py
  src/i2code/implement/git_repository.py
  src/i2code/implement/github_actions_build_fixer.py
  src/i2code/plan_domain/task.py
  tests/implement/test_github_actions_build_fixer.py
Due: ruff-check, precommit-check

Missing playright config
  pyrightconfig.json
Due: none

Add StepFn Protocol to type orchestrator step function fields
  design-pattern-catalog/dependency-injection/type-di-fields.md
  design-pattern-catalog/index.md
  src/i2code/go_cmd/orchestrator.py
Due: ruff-check, precommit-check

Add lint job to CI matching pre-commit checks
  .github/workflows/ci.yml
Due: none

Remove unused SCRIPT_DIR and PROJECT_ROOT variables from test-plan-cli-smoke.sh
  test-scripts/test-plan-cli-smoke.sh
Due: precommit-check

Add idea state command with name-or-path resolution
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/idea_cmd/cli.py
  src/i2code/idea_cmd/state_cmd.py
  src/i2code/idea_resolver.py
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, precommit-check

Add --state filter to idea list command
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/idea_cmd/list_cmd.py
  tests/idea-cmd/test_idea_list_cli.py
Due: ruff-check, precommit-check

Add idea name resolution to go command with shell completion
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/go_cmd/cli.py
  tests/go-cmd/test_go_cli.py
Due: ruff-check, precommit-check

Add idea state transition via git mv and commit
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/idea_cmd/state_cmd.py
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, precommit-check

Add idea list command with resolver module
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/idea_cmd/cli.py
  src/i2code/idea_cmd/list_cmd.py
  src/i2code/idea_resolver.py
  tests/idea-cmd/test_idea_list_cli.py
  tests/idea-cmd/test_idea_resolver.py
Due: ruff-check, precommit-check

Add transition rule engine with --force override for idea state command
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/idea_cmd/state_cmd.py
  src/i2code/idea_cmd/transition_rules.py
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, precommit-check

Add lifecycle move option to HAS_PLAN menu based on idea state
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/go_cmd/orchestrator.py
  tests/go-cmd/test_orchestrator_lifecycle_menu.py
Due: ruff-check, precommit-check

Add lifecycle move handler to go command menu
  docs/ideas/wip/i2code-idea-lifecycle/i2code-idea-lifecycle-plan.md
  src/i2code/go_cmd/orchestrator.py
  tests/go-cmd/test_orchestrator_lifecycle_move.py
Due: ruff-check, precommit-check

Fix pyright errors in OrchestratorDeps by using direct defaults
  src/i2code/go_cmd/orchestrator.py
Due: ruff-check, precommit-check

Move idea_resolver to i2code.idea.resolver package
  src/i2code/go_cmd/cli.py
  src/i2code/go_cmd/orchestrator.py
  src/i2code/idea/__init__.py
  src/i2code/idea/resolver.py
  src/i2code/idea_cmd/list_cmd.py
  src/i2code/idea_cmd/state_cmd.py
  src/i2code/idea_cmd/transition_rules.py
  tests/go-cmd/test_go_cli.py
  tests/idea-cmd/test_idea_resolver.py
Due: ruff-check, precommit-check

Add package cohesion and test-mirrors-source design patterns
  design-pattern-catalog/index.md
  design-pattern-catalog/project-structure/package-cohesion.md
  design-pattern-catalog/project-structure/test-mirrors-source.md
  skills/write-design-pattern/SKILL.md
  tests/idea/__init__.py
  tests/idea/test_resolver.py
Due: ruff-check, precommit-check

Add idea docs for implement-address-review-loop
  docs/ideas/draft/implement-address-review-loop/implement-address-review-loop-discussion.md
  docs/ideas/draft/implement-address-review-loop/implement-address-review-loop-idea.md
  docs/ideas/draft/implement-address-review-loop/implement-address-review-loop-plan.md
  docs/ideas/draft/implement-address-review-loop/implement-address-review-loop-spec.md
Due: none

implement-address-review-loop -> wip
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-discussion.md
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-idea.md
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-spec.md
Due: none

Add --address-review-comments flag with --trunk incompatibility validation
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/cli.py
  src/i2code/implement/implement_opts.py
  tests/implement/test_implement_opts.py
Due: ruff-check, precommit-check

Fail with clear error when --address-review-comments is set but no PR exists
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/implement_command.py
  tests/implement/test_implement_command.py
Due: ruff-check, precommit-check

Add review poll loop when all tasks complete and --address-review-comments is set
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/worktree_mode.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, precommit-check

Add CI failure detection to review poll loop before processing feedback
  docs/ideas/wip/implement-address-review-loop/implement-address-review-loop-plan.md
  src/i2code/implement/worktree_mode.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, precommit-check
