Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, precommit-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Run ruff check --fix
        entry: uvx ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: precommit-check
        name: Run precommit.sh checks
        entry: ./test-scripts/test-precommit.sh
        language: script
        pass_filenames: false
        files: ^(src/|test-scripts/|tests/)

Define IMPLEMENT_CONFIG_FILE variable and wire test to CI
  docs/features/i2code-go-invoking-implement/i2code-go-invoking-implement-plan.md
  src/i2code/scripts/_helper.sh
  test-scripts/test-end-to-end.sh
  test-scripts/test-implement-config.sh
Due: precommit-check

Prompt for implement config and save to YAML on first run
  docs/features/i2code-go-invoking-implement/i2code-go-invoking-implement-plan.md
  src/i2code/scripts/idea-to-code.sh
  test-scripts/test-implement-config.sh
Due: precommit-check

Pass config-driven flags to i2code implement invocation
  docs/features/i2code-go-invoking-implement/i2code-go-invoking-implement-plan.md
  src/i2code/scripts/idea-to-code.sh
  test-scripts/test-implement-config.sh
Due: precommit-check

Display active config before implementation and skip prompting when config exists
  docs/features/i2code-go-invoking-implement/i2code-go-invoking-implement-plan.md
  src/i2code/scripts/idea-to-code.sh
  test-scripts/test-implement-config.sh
Due: precommit-check

Add "Configure implement options" menu item to has_plan workflow
  docs/features/i2code-go-invoking-implement/i2code-go-invoking-implement-plan.md
  src/i2code/scripts/idea-to-code.sh
  test-scripts/test-go-commit-action.sh
  test-scripts/test-go-commit-menu.sh
  test-scripts/test-implement-config.sh
Due: precommit-check

Validate config file content and re-prompt on corrupt or empty config
  docs/features/i2code-go-invoking-implement/i2code-go-invoking-implement-plan.md
  src/i2code/scripts/idea-to-code.sh
  test-scripts/test-implement-config.sh
Due: precommit-check

Add idea docs for implement-no-tasks-creates-wrong-branch
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-idea.md
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-plan.md
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-spec.md
Due: none

Add idea docs for implement-no-tasks-creates-wrong-branch
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-plan.md
Due: none

Make discussion file optional for i2code implement
  src/i2code/implement/idea_project.py
  tests/implement/test_idea_project.py
  tests/implement/test_idea_validation_integration.py
Due: ruff-check, precommit-check

Rename hook to enforce-bash-conventions and block python -m pytest
  .claude-plugin/plugin.json
  hooks/enforce-bash-conventions.js
  hooks/enforce-bash-conventions.test.js
Due: none

Also block python3 -m pytest in bash conventions hook
  hooks/enforce-bash-conventions.js
  hooks/enforce-bash-conventions.test.js
Due: none

Add test runner for plugin JavaScript hook tests
  .pre-commit-config.yaml
  test-scripts/test-end-to-end.sh
  test-scripts/test-plugin-javascript.sh
Due: precommit-check

Use username-independent gitignore pattern for pytest temp dirs
  .gitignore
Due: none

Show task elapsed time in completion message
  src/i2code/implement/worktree_mode.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, precommit-check

Show i2code implement invocation in menu and extract test-i2code-go.sh
  src/i2code/scripts/idea-to-code.sh
  test-scripts/test-end-to-end.sh
  test-scripts/test-go-commit-action.sh
  test-scripts/test-go-commit-menu.sh
  test-scripts/test-i2code-go.sh
  test-scripts/test-implement-config.sh
Due: precommit-check

Configure git user in test 14 for CI compatibility
  test-scripts/test-implement-config.sh
Due: precommit-check

Extract command assembler pattern for implement and scaffold commands
  src/i2code/implement/cli.py
  src/i2code/implement/command_assembler.py
  src/i2code/implement/scaffold_command.py
  src/i2code/implement/scaffold_opts.py
  tests/implement/test_implement_command.py
  tests/implement/test_project_setup.py
Due: ruff-check, precommit-check

Add design pattern catalog, skills, and CLAUDE.md skill triggers
  .claude-plugin/plugin.json
  CLAUDE.md
  design-pattern-catalog/commands/command-assembler.md
  design-pattern-catalog/index.md
  skills/apply-design-patterns/SKILL.md
  skills/write-design-pattern/SKILL.md
Due: none

Extract claude_permissions module from git_setup and worktree_setup
  src/i2code/implement/claude_permissions.py
  src/i2code/implement/git_setup.py
  src/i2code/implement/trunk_mode.py
  src/i2code/implement/worktree_setup.py
  tests/implement/test_claude_permissions.py
  tests/implement/test_git_setup.py
  tests/implement/test_worktree_setup.py
Due: ruff-check, precommit-check

Clarify code health review applies to both production and test files
  .claude-plugin/plugin.json
  skills/commit-guidelines/SKILL.md
Due: none

Guard execute() to exit with error when all tasks are complete
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-plan.md
  src/i2code/implement/implement_command.py
  tests/implement/test_implement_command.py
Due: ruff-check, precommit-check

Add failing integration test: implement exits with error when all tasks complete
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-plan.md
  tests/implement/test_all_tasks_complete_integration.py
Due: ruff-check, precommit-check

Mark task 2.2 complete: regression guard tests pass with default task
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-plan.md
Due: none

Exit with error when all tasks are complete in worktree mode
  docs/features/implement-no-tasks-creates-wrong-branch/implement-no-tasks-creates-wrong-branch-plan.md
  src/i2code/implement/implement_command.py
  tests/implement/fake_idea_project.py
  tests/implement/test_all_tasks_complete_integration.py
  tests/implement/test_git_infrastructure_integration.py
  tests/implement/test_idea_validation_integration.py
  tests/implement/test_implement_command.py
Due: ruff-check, precommit-check

Return normally when all tasks are already complete
  src/i2code/implement/implement_command.py
  tests/implement/test_all_tasks_complete_integration.py
  tests/implement/test_implement_command.py
Due: ruff-check, precommit-check

Add idea docs for simplify-worktree-branching
  simplify-worktree-branching/simplify-worktree-branching-discussion.md
  simplify-worktree-branching/simplify-worktree-branching-idea.md
  simplify-worktree-branching/simplify-worktree-branching-plan.md
  simplify-worktree-branching/simplify-worktree-branching-spec.md
Due: none

Add idea docs for simplify-worktree-branching
  simplify-worktree-branching/simplify-worktree-branching-implement-config.yaml
Due: none
