Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pyright, plugin-javascript-tests, precommit-check

ruff-check:
  name: Run ruff check --fix
  entry: uv run --with ruff ruff check --fix
  language: system
  pass_filenames: false

pyright:
  name: Run pyright --level error
  entry: uvx pyright --level error src/
  language: system
  pass_filenames: false

plugin-javascript-tests:
  name: Run plugin JavaScript tests
  entry: ./test-scripts/test-plugin-javascript.sh
  language: script
  pass_filenames: false

precommit-check:
  name: Run precommit.sh checks
  entry: ./test-scripts/test-precommit.sh
  language: script
  pass_filenames: false

Flush task completion message before push attempt
  src/i2code/implement/worktree_mode.py
Due: ruff-check, pyright, precommit-check

Updated implement documentation
  docs/design/implement-steps.md
Due: none

Replace inline Mermaid diagrams with D2-rendered PNGs using coding agent logo
  docs/design/Makefile
  docs/design/implement-steps.md
  docs/design/isolate-mode.d2
  docs/design/isolate-mode.png
  docs/design/simpler-coding-agent-logo.png
  docs/design/trunk-mode.d2
  docs/design/trunk-mode.png
  docs/design/worktree-mode.d2
  docs/design/worktree-mode.png
Due: none

Remove equals sign from Claude Code legend in diagrams
  docs/design/isolate-mode.d2
  docs/design/isolate-mode.png
  docs/design/trunk-mode.d2
  docs/design/trunk-mode.png
  docs/design/worktree-mode.d2
  docs/design/worktree-mode.png
Due: none

Add analysis script
  test-scripts/analyze-claude-activity.sh
Due: precommit-check

Move D2 diagrams and rendered PNGs into diagrams subdirectory
  docs/design/Makefile
  docs/design/diagrams/isolate-mode.d2
  docs/design/diagrams/isolate-mode.png
  docs/design/diagrams/trunk-mode.d2
  docs/design/diagrams/trunk-mode.png
  docs/design/diagrams/worktree-mode.d2
  docs/design/diagrams/worktree-mode.png
  docs/design/implement-steps.md
  docs/design/isolate-mode.png
  docs/design/plan-task.png
  docs/design/trunk-mode.png
  docs/design/worktree-mode.png
Due: none

Add progressive font sizing to d2 diagrams
  docs/design/diagrams/isolate-mode.d2
  docs/design/diagrams/isolate-mode.png
  docs/design/diagrams/isolate-mode.svg
  docs/design/diagrams/trunk-mode.d2
  docs/design/diagrams/trunk-mode.png
  docs/design/diagrams/trunk-mode.svg
  docs/design/diagrams/worktree-mode.d2
  docs/design/diagrams/worktree-mode.png
  docs/design/diagrams/worktree-mode.svg
Due: none

Move diagram legend to bottom-center
  docs/design/diagrams/isolate-mode.d2
  docs/design/diagrams/isolate-mode.png
  docs/design/diagrams/isolate-mode.svg
  docs/design/diagrams/trunk-mode.d2
  docs/design/diagrams/trunk-mode.png
  docs/design/diagrams/trunk-mode.svg
  docs/design/diagrams/worktree-mode.d2
  docs/design/diagrams/worktree-mode.png
  docs/design/diagrams/worktree-mode.svg
Due: none

Improve D2 diagram layouts with TALA engine and horizontal flow
  docs/design/Makefile
  docs/design/diagrams/isolate-mode.d2
  docs/design/diagrams/isolate-mode.png
  docs/design/diagrams/isolate-mode.svg
  docs/design/diagrams/trunk-mode.d2
  docs/design/diagrams/trunk-mode.png
  docs/design/diagrams/trunk-mode.svg
  docs/design/diagrams/worktree-mode.d2
  docs/design/diagrams/worktree-mode.png
  docs/design/diagrams/worktree-mode.svg
Due: none

Double font sizes and improve layout in worktree-mode diagram
  docs/design/diagrams/worktree-mode.d2
  docs/design/diagrams/worktree-mode.png
  docs/design/diagrams/worktree-mode.svg
Due: none

Updated svg
  docs/design/diagrams/worktree-mode.svg
Due: none

Revised layout
  docs/design/diagrams/worktree-mode.d2
  docs/design/diagrams/worktree-mode.png
  docs/design/diagrams/worktree-mode.svg
Due: none

Add worktree-mode-overview diagram with simplified task loop
  docs/design/diagrams/worktree-mode-overview.d2
  docs/design/diagrams/worktree-mode-overview.png
  docs/design/diagrams/worktree-mode-overview.svg
Due: none

Add working links to source files in implement-steps.md
  docs/design/implement-steps.md
Due: none

Added logging to script
  dev-scripts/setup-project.sh
Due: none

Move plugin source into claude-code-plugins/idea-to-code/
  .claude-plugin/marketplace.json
  CODEBASE.md
  claude-code-plugins/idea-to-code/.claude-plugin/plugin.json
  claude-code-plugins/idea-to-code/commands/claude-issue-report.md
  claude-code-plugins/idea-to-code/commands/commit-changes.md
  claude-code-plugins/idea-to-code/commands/commit-staged-changes.md
  claude-code-plugins/idea-to-code/commands/precommit-check.md
  claude-code-plugins/idea-to-code/commands/review-design-doc.md
  claude-code-plugins/idea-to-code/hooks/debug-hook.js
  claude-code-plugins/idea-to-code/hooks/enforce-bash-conventions.js
  claude-code-plugins/idea-to-code/hooks/enforce-bash-conventions.test.js
  claude-code-plugins/idea-to-code/hooks/issue-session-tagger.js
  claude-code-plugins/idea-to-code/hooks/session-recorder.js
  claude-code-plugins/idea-to-code/hooks/session-recorder.test.js
  claude-code-plugins/idea-to-code/skills/apply-design-patterns/SKILL.md
  claude-code-plugins/idea-to-code/skills/ask-a-friend/SKILL.md
  claude-code-plugins/idea-to-code/skills/commit-guidelines/SKILL.md
  claude-code-plugins/idea-to-code/skills/debugging-ci-failures/SKILL.md
  claude-code-plugins/idea-to-code/skills/dockerfile-guidelines/SKILL.md
  claude-code-plugins/idea-to-code/skills/file-organization/SKILL.md
  claude-code-plugins/idea-to-code/skills/find-usage/SKILL.md
  claude-code-plugins/idea-to-code/skills/git-conflict-resolution/SKILL.md
  claude-code-plugins/idea-to-code/skills/github-workflow-gradle-template/skill.md
  claude-code-plugins/idea-to-code/skills/incremental-development/SKILL.md
  claude-code-plugins/idea-to-code/skills/plan-file-management/SKILL.md
  claude-code-plugins/idea-to-code/skills/plan-tracking/SKILL.md
  claude-code-plugins/idea-to-code/skills/tdd/SKILL.md
  claude-code-plugins/idea-to-code/skills/test-output-to-logfile/SKILL.md
  claude-code-plugins/idea-to-code/skills/test-runner-java-gradle/SKILL.md
  claude-code-plugins/idea-to-code/skills/testing-scripts-and-infrastructure/SKILL.md
  claude-code-plugins/idea-to-code/skills/write-design-pattern/SKILL.md
  claude-code-plugins/idea-to-code/skills/write-idea/SKILL.md
  install-plugin.sh
Due: none

Add idea docs for reimplement-claude-issue-report
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-discussion.md
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-idea.md
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-implement-config.yaml
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-metadata.yaml
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-spec.md
Due: none

Add i2code issue create CLI command (Task 1.1)
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
  src/i2code/cli.py
  src/i2code/issue/__init__.py
  src/i2code/issue/cli.py
  src/i2code/issue/create.py
  test-scripts/test-plugin-javascript.sh
  tests/issue/__init__.py
  tests/issue/test_create.py
Due: ruff-check, pyright, precommit-check

Fix plugin JS test path after move to claude-code-plugins/
  .pre-commit-config.yaml
  test-scripts/test-plugin-javascript.sh
Due: precommit-check

Add i2code issue create smoke test (Task 1.2)
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
  test-scripts/test-subcommands-smoke.sh
Due: precommit-check

Add input validation tests and malformed JSON handling (Task 2.1)
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
  src/i2code/issue/create.py
  tests/issue/test_create.py
Due: ruff-check, pyright, precommit-check

Add PreToolUse hook to inject --session-id into i2code issue create commands (Task 3.1)
  claude-code-plugins/idea-to-code/hooks/issue-session-injector.js
  claude-code-plugins/idea-to-code/hooks/issue-session-injector.test.js
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
Due: none

Add claude-issue-report skill definition (Task 4.1)
  claude-code-plugins/idea-to-code/skills/claude-issue-report/SKILL.md
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
Due: none

Delete old claude-issue-report command and issue-session-tagger hook (Task 4.2)
  claude-code-plugins/idea-to-code/.claude-plugin/plugin.json
  claude-code-plugins/idea-to-code/commands/claude-issue-report.md
  claude-code-plugins/idea-to-code/hooks/issue-session-tagger.js
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
Due: none

Add end-to-end test for claude-issue-report pipeline (Task 4.3)
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
  pytest.ini
  test-scripts/test-verify-all-tests-have-markers.sh
  tests/issue/test_e2e.py
Due: ruff-check, pyright, precommit-check

Mark Task 4.3 complete: end-to-end test validates full pipeline (Task 4.3)
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-wt-state.json
Due: none

Rename issue module files to be more specific (PR feedback)
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-plan.md
  docs/ideas/active/reimplement-claude-issue-report/reimplement-claude-issue-report-spec.md
  src/i2code/cli.py
  src/i2code/issue/create_issue.py
  src/i2code/issue/issue_cli.py
  tests/issue/test_issue_create.py
  tests/issue/test_issue_creation_e2e.py
Due: ruff-check, pyright, precommit-check

Restructure e2e test to invoke Claude once instead of per-test (PR feedback)
  tests/issue/test_issue_creation_e2e.py
Due: ruff-check, pyright, precommit-check

Combine happy path tests into single test that invokes _invoke_create() once (PR feedback)
  tests/issue/test_issue_create.py
Due: ruff-check, pyright, precommit-check

Move VALID_CATEGORIES from e2e test into issue production module (PR feedback)
  src/i2code/issue/__init__.py
  tests/issue/test_issue_creation_e2e.py
Due: ruff-check, pyright, precommit-check

Replace xfail with real session_id assertion in e2e test (PR feedback)
  tests/issue/test_issue_creation_e2e.py
Due: ruff-check, pyright, precommit-check

Disable early-exit checks that skip commit recovery (#36)
  src/i2code/implement/implement_command.py
  tests/implement/test_all_tasks_complete_integration.py
  tests/implement/test_implement_command.py
Due: ruff-check, pyright, precommit-check

Move inner CLI flag logic from IsolateMode into ImplementOpts
  src/i2code/implement/implement_opts.py
  src/i2code/implement/isolate_mode.py
  tests/implement/conftest.py
  tests/implement/test_implement_opts.py
  tests/implement/test_pr_feedback_filtering_integration.py
Due: ruff-check, pyright, precommit-check

Updates to README and CODEBASE
  CODEBASE.md
  README.adoc
Due: none

Fixed typo
  README.adoc
Due: none

Fix integration-gh CI: rewrite SSH URLs to HTTPS for GH_TOKEN auth
  .github/workflows/ci.yml
Due: none

Add --resume support with guard files to test-all scripts
  test-scripts/analyze-claude-activity.sh
  test-scripts/test-all-with-isolarium.sh
  test-scripts/test-all.sh
  test-scripts/test-i2code-implement.sh
Due: precommit-check

Rename 'manual' test marker to 'integration_claude'
  CODEBASE.md
  pytest.ini
  test-scripts/test-verify-all-tests-have-markers.sh
  tests/implement/test_triage_real_claude.py
Due: ruff-check, pyright, precommit-check

Add timing instrumentation to implement workflow
  src/i2code/implement/implement_command.py
  src/i2code/implement/timing.py
  src/i2code/implement/worktree_mode.py
  tests/implement/test_task_execution_integration.py
Due: ruff-check, pyright, precommit-check

Add automated GitHub release creation and minor release workflow
  .github/workflows/ci.yml
  .github/workflows/make-minor-release.yml
  scripts/make-minor-release.sh
  scripts/trigger-minor-release.sh
Due: none

Path conditions:
  ruff-check: any of: \.py$
  pyright: any of: \.py$
  plugin-javascript-tests: any of: ^hooks/.*\.js$
  precommit-check: any of: ^(src/|test-scripts/|tests/)
