Repository humansintheloop-dev/humansintheloop-dev-workflow-and-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, pyright, plugin-javascript-tests, precommit-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Run ruff check --fix
        entry: uv run --with ruff ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright
        name: Run pyright --level error
        entry: uvx pyright --level error src/
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: run-codescene
        name: Run CodeScene
        entry: codescene-precommit.sh
        language: script
        pass_filenames: false
      - id: plugin-javascript-tests
        name: Run plugin JavaScript tests
        entry: ./test-scripts/test-plugin-javascript.sh
        language: script
        pass_filenames: false
        files: ^hooks/.*\.js$
      - id: precommit-check
        name: Run precommit.sh checks
        entry: ./test-scripts/test-precommit.sh
        language: script
        pass_filenames: false
        files: ^(src/|test-scripts/|tests/)

Add --completed flag to archive all completed ideas
  src/i2code/idea_cmd/archive_cmd.py
  tests/idea-cmd/test_archive.py
Due: ruff-check, pyright, precommit-check

Create new ideas under docs/ideas/active/ when name not found
  src/i2code/go_cmd/cli.py
  tests/go-cmd/test_go_cli.py
Due: ruff-check, pyright, precommit-check

Resolve bare idea names to docs/ideas/active/ across all commands
  src/i2code/design_cmd/cli.py
  src/i2code/go_cmd/cli.py
  src/i2code/idea/resolver.py
  src/i2code/idea_cmd/cli.py
  src/i2code/implement/cli.py
  src/i2code/plan/cli.py
  src/i2code/spec_cmd/cli.py
  tests/go-cmd/test_go_cli.py
  tests/idea-cmd/test_resolve_directory.py
Due: ruff-check, pyright, precommit-check

Prefix isolated idea path with ./ to preserve path-like resolution
  src/i2code/implement/isolate_mode.py
  tests/implement/test_isolate_mode.py
Due: ruff-check, pyright, precommit-check

Fix integration test for ./ prefix in isolated idea path
  tests/implement/test_isolate_mode_integration.py
Due: ruff-check, pyright, precommit-check

Add idea docs for i2code-idea-command-handle-completed-plan
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-discussion.md
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-idea.md
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-implement-config.yaml
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-metadata.yaml
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-plan.md
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-spec.md
Due: none

Add --completed-plans flag to idea state command
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-plan.md
  src/i2code/idea_cmd/state_cmd.py
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, pyright, precommit-check

Add test for empty result handling with --completed-plans
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-plan.md
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, pyright, precommit-check

Add test for --completed-plans --no-commit support
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-plan.md
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, pyright, precommit-check

Add tests for validation and edge cases of --completed-plans
  docs/ideas/active/i2code-idea-command-handle-completed-plan/i2code-idea-command-handle-completed-plan-plan.md
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, pyright, precommit-check

Add idea docs for i2code-go-adjust-menu-options
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-discussion.md
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-idea.md
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-implement-config.yaml
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-metadata.yaml
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-plan.md
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-spec.md
Due: none

Draft state defaults to Move idea to ready instead of configure
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-plan.md
  src/i2code/go_cmd/orchestrator.py
  tests/go-cmd/test_orchestrator_lifecycle_menu.py
Due: ruff-check, pyright, precommit-check

Add idea docs for i2code-plan-missing-blank-lines
  docs/ideas/active/i2code-plan-missing-blank-lines/i2code-plan-missing-blank-lines-metadata.yaml
Due: none

Ready state defaults to configure/revise implement options
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-plan.md
  src/i2code/go_cmd/orchestrator.py
  tests/go-cmd/test_orchestrator_lifecycle_menu.py
Due: ruff-check, pyright, precommit-check

Add --dry-run option to idea state --completed-plans
  src/i2code/idea_cmd/state_cmd.py
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, pyright, precommit-check

WIP state defaults to commit (dirty) or implement (clean)
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-plan.md
  src/i2code/go_cmd/orchestrator.py
  tests/go-cmd/test_orchestrator_lifecycle_menu.py
Due: ruff-check, pyright, precommit-check

Unknown metadata state falls back to configure/revise default
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-plan.md
  tests/go-cmd/test_orchestrator_default_selection.py
Due: ruff-check, pyright, precommit-check

Read metadata once per menu build instead of twice
  docs/ideas/active/i2code-go-adjust-menu-options/i2code-go-adjust-menu-options-plan.md
  src/i2code/go_cmd/orchestrator.py
Due: ruff-check, pyright, precommit-check

Include draft ideas in --completed-plans scan
  src/i2code/idea_cmd/state_cmd.py
  tests/idea-cmd/test_idea_state_cli.py
Due: ruff-check, pyright, precommit-check

Mark ideas with completed plans as completed: brainstorm-ask-user-question-tool
  docs/ideas/active/brainstorm-ask-user-question-tool/brainstorm-ask-user-question-tool-metadata.yaml
Due: none

Default to 'draft' state when idea metadata file is missing
  src/i2code/idea/resolver.py
  src/i2code/idea_cmd/state_cmd.py
  tests/idea-cmd/test_idea_state_cli.py
  tests/idea-cmd/test_resolver.py
Due: ruff-check, pyright, precommit-check

Add --skip-scaffolding and --debug-claude options to implement command
  src/i2code/implement/claude_runner.py
  src/i2code/implement/cli.py
  src/i2code/implement/command_assembler.py
  src/i2code/implement/implement_opts.py
  src/i2code/implement/isolate_mode.py
Due: ruff-check, pyright, precommit-check

Include PR URL in draft PR creation message
  src/i2code/implement/worktree_mode.py
Due: ruff-check, pyright, precommit-check

Add tee logging to test script and commit-msg hook blocking bad co-author lines
  .pre-commit-config.yaml
  test-scripts/test-i2code-implement.sh
Due: precommit-check

Bump plugin version and support CS_ACCESS_TOKEN in codescene-precommit
  .claude-plugin/plugin.json
  codescene-precommit.sh
  src/i2code/implement/isolate_mode.py
Due: ruff-check, pyright, precommit-check

Add --create flag to isolarium run command
  src/i2code/implement/isolate_mode.py
Due: ruff-check, pyright, precommit-check

Pass --allowedTools with Edit/Write permissions in worktree_mode non-interactive
  src/i2code/implement/worktree_mode.py
  tests/implement/test_worktree_mode.py
Due: ruff-check, pyright, precommit-check

Fix install-plugin.sh to work from any directory
  install-plugin.sh
Due: none

Fix parse_owner_repo crash on HTTPS URLs with embedded credentials
  src/i2code/implement/pull_request_review_processor.py
  tests/implement/test_pull_request_review_processor.py
Due: ruff-check, pyright, precommit-check

Add isolarium destroy before test runs and design pattern for extract-pure-functions
  design-pattern-catalog/testing/extract-pure-functions-for-testability.md
  test-scripts/test-i2code-implement.sh
Due: precommit-check
